body{
    display: flex;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    /* background: white; */
    /* background-color: transparent; */
    /* background: transparent; */
    /* background-color: black; */
}

.calculator{
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    width: 30rem;
    height: 40rem;
    padding: 1rem 15px;
    padding-bottom: 1.5rem;
    /* box-shadow: 2px 2px 5px black; */
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* -webkit-box-reflect: below 2px linear-gradient(transparent,transparent, black); */
    border:  2px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: transparent; */
    /* background-color: rgb(165, 42, 42, 0.2); */
    /* background-color: blue; */
    /* filter: b; */
    /* backdrop-filter: blur(15px); */
    /* backdrop-filter: ; */
}

button{
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    transition: all 1s;
    background: black;
    color: white;
}
input{
    padding: 1.3rem;
    width: 25rem;
    font-size: 20px;
}
button:hover{
    box-shadow: 2px 2px 5px black;

}